@import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #444;
  font-family: Roboto;
  padding: 50px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pizza {
  display: flex;
  align-items: stretch;
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
}
.pizza_hero {
  /* flex: 0 1 45%; */
  flex-basis: 45%;
}
.pizza_img {
  width: 100%;
  display: block;
}
.pizza_content {
  flex: 1;
  /* flex-grow: 1; */
  background: wheat;
  padding: 35px 30px;
}
.pizza_price {
  flex: 0 1 50px;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pizza_title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.pizza_heading {
  font-size: 20px;
  flex: 1;
  /* margin-right: 30px; */
}
.pizza_tag {
  font-size: 10px;
  text-transform: uppercase;
  color: wheat;
  padding: 2px 10px;
  border-radius: 10px;
  margin-left: 5px;
}
.pizza_tag_1 {
  background-color: #67b26f;
}
.pizza_tag_2 {
  background-color: #4ca2cd;
}
.pizza_description {
  font-size: 17px;
}
.pizza_details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pizza_detail {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
  margin-top: 25px;
}
.emoji {
  font-size: 20px;
  margin-right: 3px;
}
